/**
 * ReSass.
 *
 * MIXIN: Responsive Media Queries.
 *
 * Creates responsive media queries for seven different screen sizes.
 * These are based on min-width which means if x is the size then your
 * CSS will affect any device with screen width x and above.
 *
 * USAGE:
 *	@include r(240)  { }
 *	@include r(320)  { }
 *	@include r(480)  { }
 *	@include r(768)  { }
 *	@include r(1024) { }
 *	@include r(1140) { }
 *	@include r(1280) { }
 *  @include r(1500) { }
 *
 * CSS content goes inside {} brackets. These mixins should be used inside
 * a class definition. For example:
 *
 * The following CSS will hide the .header on screen width 320px and above.
 * .header {
 * 	  @include r(320)  { display: none; }
 * }
 *
 * @author  Ahmad Awais (https://github.com/ahmadawais)
 * @link    https://github.com/ahmadawais/ReSass.git
 * @version 1.0.0
 */
#iphone-imessage {
	position: relative;
}

#iphone-imessage:before {
	background-image: url("../images/iphone-imessage.svg");
	background-repeat: no-repeat;
	content: " ";
	display: block;
	-webkit-transform: rotate(12deg);
	        transform: rotate(12deg);
	-webkit-transform-origin: 100% 0;
	        transform-origin: 100% 0;
	height: 300px;
	padding: 0;
	margin-left: 50px;
}

@media (min-width: 1024px) {
	#iphone-imessage:before {
		position: absolute;
		left: 0;
		top: -200px;
		padding: 300px;
	}
}

.service-title {
	font-size: 25.6px;
	font-size: 1.6rem;
	text-align: center;
}

.service-icon {
	max-width: 200px;
	margin: 0 auto;
}
