/languages/*		linguist-vendored
/.tx				linguist-vendored
/.*					export-ignore
/gulpfile.js		export-ignore
/package.json		export-ignore
/package-lock.json	export-ignore
/node_modules/*		export-ignore
/README.md			export-ignore
/sass				export-ignore