@font-face {
  font-family: "Minion Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Minion Pro"), url("../fonts/minion-pro/MinionPro-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Minion Pro";
  font-style: italic;
  font-weight: 400;
  src: local("Minion Pro"), url("../fonts/minion-pro/MinionPro-It.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Minion Pro";
  font-style: normal;
  font-weight: 500;
  src: local("Minion Pro"), url("../fonts/minion-pro/MinionPro-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Minion Pro";
  font-style: italic;
  font-weight: 500;
  src: local("Minion Pro"), url("../fonts/minion-pro/MinionPro-MediumIt.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Minion Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Minion Pro"), url("../fonts/minion-pro/MinionPro-Semibold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Minion Pro";
  font-style: italic;
  font-weight: 600;
  src: local("Minion Pro"), url("../fonts/minion-pro/MinionPro-SemiboldIt.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Minion Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Minion Pro"), url("../fonts/minion-pro/MinionPro-BoldCn.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Minion Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Minion Pro"), url("../fonts/minion-pro/MinionPro-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Minion Pro";
  font-style: italic;
  font-weight: 700;
  src: local("Minion Pro"), url("../fonts/minion-pro/MinionPro-BoldCnIt.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Minion Pro";
  font-style: italic;
  font-weight: 700;
  src: local("Minion Pro"), url("../fonts/minion-pro/MinionPro-BoldIt.woff") format("woff");
  font-display: swap;
}
