.admin-bar #logo_nav_wrap {
  top: 46px;
  @include r(1024) {
    top: 32px;
  }
}

#masthead {
  &:after {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 500px;
    top: 180%;
    left: 0;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    @include gradient();
  }
}

#logo_nav_wrap {
  display: flex;
  flex-direction: row;
  align-items: center; // Pin child elements to bottom
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  // transform: translateY(-1000%);
  // transition: transform 0.3s ease;
  @include r(1024) {
    padding: $common-padding;
  }

  &.stuck {
    background: #fff;
    box-shadow: 0px 4px 25px 0px #0747a01a;
    padding: 10px $common-padding;
    position: fixed;
    // transform: translateX(0);
    animation: slideDown 0.5s;
  }
}

#logo {
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  @include r(1024) {
    // Above 1024px
    display: inline-block;
  }
}

body.custom-logo {
  .site-title,
  .site-description {
    position: absolute;
    left: -999999px;
  }
}

.site-branding .custom-logo {
  width: 180px;
}

.site-title {
  margin-top: 0;
}

.site-description {
  margin: 0;
}

.hero {
  padding: 100px 0;
  @include r(1024) {
    padding: 200px;
  }
  z-index: 0;

  .hero-title,
  .hero-content {
    color: #fff;
    position: relative;
    text-align: center;
    z-index: 9;
    line-height: 1;
    font-weight: 100;
  }

  .hero-title {
    margin-bottom: 0;
    @include font-size(2);
    @include r(1024) {
      // Above 1024px
      @include font-size(4);
    }
  }

  &.empty {
    .hero-title,
    .hero-content {
      color: $color__text-main;
    }
  }

  &.empty {
  }

  #hero_content {
    @include font-size(1);
    @include r(1024) {
      // Above 1024px
      @include font-size(2);
    }
  }
}
