$color__grey: #F0F4FB;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: rgba(20, 30, 40, 1);
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #2D8EFD;
$color__link-visited: #2D8EFD;
$color__link-hover: #2D8EFD;
$color__text-main: #404040;

$color__heading: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__menu-link: #ffffff;
$color__menu-link__stuck: #5d6a7b;

$color__background-mobile-menu: #F6F7F8;
